@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;700;900&display=swap');

/*GENERAL*/
html{
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    background-image: radial-gradient(circle, rgb(85, 84, 84), rgb(64, 64, 64), rgb(44, 44, 44));
    height: 100%;
}

.all{
    position: relative;
    min-height: 100%;
}

a{
    target-name: new;
    target-new: tab; 
}


/*NAVIGATION*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    z-index: 3;
}

.brand a{
    display: inline-flex;
    color: rgb(56, 119, 212);
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 400;
    position: relative;
    bottom: 2vh;
    z-index: 5;
    white-space: nowrap;
}

.nav-links{
    display: inline-flex;
    float: right;
    justify-content: space-around;
    width: 50%;
    height: 30px;
    z-index: 2;
}

li{
    list-style: none;
    display: inline-flex;
    font-size: 16px;   
}

.nav-links a{
    color: rgb(218, 218, 218);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: 0.25s;
}

.nav-links a:hover{
    border-bottom: 3px solid rgb(56, 119, 212);
    transition: 0.5s;
}

.nav-links a.active{
    border-bottom: 3px solid rgb(56, 119, 212);
}

.burger{
    display: none;
    cursor: pointer;
    z-index: 3;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(218, 218, 218);
    border: 2px, solid, white;
    z-index: 4;
    margin: 5px;
    transition: all 0.5s ease;
}

.nav-active{
    transform: translateX(0%);
    background-color: rgb(34, 34, 34);
    z-index: 3;
}

.navbar-active{
    background-color: rgb(34, 34, 34);
    transition: fade-in 0.5s ease-in;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


/*HOMEPAGE MAIN CONTENT*/
.container{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
}

.titles{
    position: relative;
    bottom: 50px;
    color: white;
}

.main_img{
    position: relative; 
}

.titles h1, p{
    white-space: nowrap;
}

.titles h1{
    font-size: 4vw;
}

.titles p{
    font-size: 1.5vw;
}

.conatiner img{
    width: 100%;
    position: absolute;
    left: 100px;
    z-index: 1;
}


/* ABOUT ME */
.biography{
    color: rgb(255, 255, 255);
    text-align: center;
    height: 80vh;
}

.banner{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0 10%;
    position: absolute;
    top: 15vh;
    left: 0;
    z-index: -1;
}
.biography p{
    position: absolute;
    top: 21vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.biography h4{
    font-size: 32px;
    position: absolute;
    top: 27vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.headshot{
    width: 200px;
    border: 4px solid rgb(56, 119, 212);
    border-radius: 100px;
    z-index: 2;
    position: relative;   
    top: 30vh; 
    background-color: rgb(56, 119, 212);
}

.bio_container{
    width: 100%;
}

.bio_quote, .bio{
    color: white;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.bio_quote{
    text-align: center;
    position: relative;
    bottom: 30px;
}

.bio p{
    white-space: normal;
}

.bio{
    padding-bottom: 30px;
}


/*LESSONS PAGE */
.jumbotron{
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 70%;
    text-align: center;
}

.jumbotron h1{
    color: white;
    white-space: nowrap;
    position: relative;
    bottom: 60px;
    font-weight: 400;
}

.lessons{
    text-align: center;
    max-width: 48%;
    margin-left: auto;
    margin-right: auto;
}

.lessons h2, p{
    white-space: normal;
}

.lessons h2{
    padding: 40px 0;
    color: rgb(56, 119, 212);
}

.lessons p{
    color: white;
}

.form{
    text-align: center;
    max-width: 48%;
    margin-left: auto;
    margin-right: auto;
}

.form_info{
    text-align: left;
}

input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 12px 10px;
}

textarea{
    border-radius: 5px;
    padding: 12px 10px;
    width: 100%;
}

label{
    color: white;
}

.name{
    text-align: left;
}

.name_label{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#lastname{
    position: relative;
    left: 4.5%;
}

.name_input{
    display: flex;
    justify-content: space-between;
}

#fname{
    width: 48%;
}

#lname{
    width: 48%;
}

#exp{
    width: 100%;
}

input:focus{
    outline: none;
    box-shadow: 1px 2px rgb(56, 119, 212);
}

textarea:focus{
    outline: none;
    box-shadow: 2px 3px rgb(56, 119, 212);
}

#send{
    box-shadow: 1px 2px rgb(56, 119, 212);
    width: 20%;
    margin-bottom: 30px;
    padding: 0 0;
}

#send:focus{
    outline: none;
}

#send:active{
    transform: translateY(2px);
    transform: translateX(1px);
    box-shadow: none;
}



/*MEDIA IMAGE CAROUSEL*/

.slide-container{
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
  position: relative;
  bottom: 30px;
}

.image-container{
  width: 6600px;
  height: 400px;
  position: relative;
  /* transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s; */
}

.slider-image{
  float: left;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.button-container{
  position: relative;
  top: -20px;
}

.slider-button{
  display: inline-block;
  height: 5px;
  width: 20px;
  background-color: white;
  opacity: 0.65;
}

.arrow-container{
  width: 600px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 250px;
  opacity: 0.65;
}

.arrow-container img{
  width: 30px;
}

.arrow-container img:hover{
  cursor: pointer;
}

.scroll-active{
  transform: translateX(-600px);
}

#left{
  transform: rotate(180deg);
}

#slider-image-1:target ~ .image-container{
  left: 0px;
}
#slider-image-2:target ~ .image-container{
  left: -600px;
}
#slider-image-3:target ~ .image-container{
  left: -1200px;
}
#slider-image-4:target ~ .image-container{
  left: -1800px;
}
#slider-image-5:target ~ .image-container{
  left: -2400px;
}
#slider-image-6:target ~ .image-container{
  left: -3000px;
}
#slider-image-7:target ~ .image-container{
  left: -3600px;
}
#slider-image-8:target ~ .image-container{
  left: -4200px;
}
#slider-image-9:target ~ .image-container{
  left: -4800px;
}
#slider-image-10:target ~ .image-container{
  left: -5400px;
}
#slider-image-11:target ~ .image-container{
  left: -6000px;
}

/*FOOTER*/
.footer{
    height: 90px;
    width: 100%;
    position: absolute;
    bottom: -90px;
    background-color: rgb(34, 34, 34);
    justify-content: center;
    color: white;
    border-top: 1px solid white;
    text-align: center;
}

.footer_home{
    height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(34, 34, 34);
    justify-content: center;
    color: white;
    border-top: 1px solid white;
    text-align: center;
}

.social{
    position: relative;
    top: 15px;
}

.fab{
    color: white;
}

.fa-facebook-f{
    position: relative;
    right: 10px;
}

.fa-instagram{
    position: relative;
    left: 10px;
}


.fab:hover{
    color: rgb(56, 119, 212);
}


.copy{
    position: relative;
    top: 25px;
}




@media screen and (max-width: 1024px){
  .nav-links{
      width: 60%;
  }
}

@media screen and (max-width: 760px){
  body{
      overflow-x: hidden;
  }
  .nav-links{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav-links li{
      opacity: 0;
  }
  .burger{
      display: block;
  }

  .slide-container{
    width: 400px;
    height: 266.67px;
  }
  .image-container{
    width: 4400px;
    height: 266.67px;
  }
  .slider-image{
    width: 400px;
    height: 266.67px;
  }
  .arrow-container{
    width: 400px;
    position: relative;
    bottom: 175px;
  }
  #slider-image-1:target ~ .image-container{
    left: 0px;
  }
  #slider-image-2:target ~ .image-container{
    left: -400px;
  }
  #slider-image-3:target ~ .image-container{
    left: -800px;
  }
  #slider-image-4:target ~ .image-container{
    left: -1200px;
  }
  #slider-image-5:target ~ .image-container{
    left: -1600px;
  }
  #slider-image-6:target ~ .image-container{
    left: -2000px;
  }
  #slider-image-7:target ~ .image-container{
    left: -2400px;
  }
  #slider-image-8:target ~ .image-container{
    left: -2800px;
  }
  #slider-image-9:target ~ .image-container{
    left: -3200px;
  }
  #slider-image-10:target ~ .image-container{
    left: -3600px;
  }
  #slider-image-11:target ~ .image-container{
    left: -4000px;
  }
  
} 
